body {
  font-family: 'Outfit', sans-serif;
  background-color: rgb(214, 226, 240);
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*margin: auto;*/
  width: 260px;
  background-color: rgb(255, 255, 255);
  background-color:  hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 5px;
  text-align: center;
}

h3 {
  font-size: 1.24em;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
p {
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 10px;
  color: hsl(218, 44%, 22%);
}

img {
  margin-top: 10px;
  border-radius: 15px;
  width: 245px;
  height: 240px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } 
